<% layout("/layouts/boilerplate") %>

  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      overflow-x: auto;
    }

    .filter {
      text-align: center;
      margin-top: 2rem;
      opacity: 0.7;
      display: inline-block;
      margin-right: 10px;
      width: 8vw;
    }


    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }

    /* Media query for larger screens */
    @media (min-width: 768px) {
      .filter {
        max-width: 150px;
      }
    }

    @media (min-width: 992px) {
      .filter {
        max-width: 120px;
      }
    }
  </style>

  <div id="filters ">
    <div class="filter ">
      <div> <i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
    <div class="filter  ">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
    <div class="filter ">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic Cities</p>
    </div>
    <div class="filter ">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountains</p>
    </div>
    <div class="filter ">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
    <div class="filter ">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pools</p>
    </div>
    <div class="filter ">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter ">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </div>
    <div class="filter ">
      <div><i class="fa-regular fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>
  </div>

  <!-- <h3>All Listings</h3> -->
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for (let listing of allListings){%>

      <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card" style="width: 20rem;">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem">
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b>
                <%= listing.title %>
              </b>
              <br>
              <% if (listing && listing.price) { %>
                <%= listing.price.toLocaleString("en-IN") %>
                  <% } else { %>
                    <!-- Handle the undefined case here -->
                    <% } %>
                      / night
                      <i class="tax-info">+18% GST</i>
            </p>
          </div>
        </div>
      </a>
      <%} %>
  </div>